html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

.flex {
  display: flex;
}


header {
  background-image: url("../glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
  }

header img {
  height: 1.5rem;
}

#logo {
  align-items: center;
}

.box {
  width: 960px;
  margin: 0 auto;
}

nav {
  position: fixed;
  width: 960px;
  padding: 1rem 2rem;
  color: white;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  margin-left: 2rem;
}

nav span {
  margin-left: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

.mobile {
  display: none;
  }
#pos-slogan {
  justify-content: flex-end;
}

#slogan {
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  background-color: white;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {

}

main {

}

section {

  }

#services {

}

.service {

  }

p {

  }

#products {

}

#philosophy {

}

#appointment {

}

footer {

  }
