html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

.flex {
  display: flex;
}

header {
  background-image: url("../glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
  }

header img {
  height: 1.5rem;
}

#logo {
  align-items: center;
}

.box {
  width: 960px;
  margin: 0 auto;
}

nav {
  position: fixed;
  width: 960px;
  padding: 1rem 2rem;
  color: white;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin-left: 2rem;
}

nav span {
  margin-left: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

.mobile {
  display: none;
  }

#pos-slogan {
  justify-content: flex-end;
}

#slogan {
  margin-top: 14rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  background-color: white;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
}


section {
  padding-top: 3rem;
  }

#services {
  height: 11rem;
  justify-content: center;
}

/*
  <section id="services" class="flex box">
    <div class="service">
      <img id="exam" src="./resources/paper-icon.png">
      <p>Comprehensive Exams</p>
    </div>
    <div id="fit" class="service">
      <img src="./resources/ruler-icon.png">
      <p>Custom Fittings</p>
    </div>
    <div id="delivery" class="service">
      <img src="./resources/truck-icon.png">
      <p>Fast Delivery</p>
    </div>
  </section>

*/

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto 3rem;
  width: 5rem;
  height: 8rem;
  text-align: center;
}

.service img {
  max-width: 100%;
}

#exam {
  width: 3.5rem;
  }

#products {
  margin-bottom: 5rem;
  justify-content: center;
}

#products h2 {
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size 1rem;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.product {
  max-width: 35%;
  margin-right: 5%;
}

footer {
  padding: 4rem;
  background-color: azure;
  }

footer img {
  height: 1.5rem;
  margin-right: 1rem;
  }

/* TABLETS ----------- */
/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width : 1024px) {

  header {
    height: 22rem;
    padding-top: 0;
    }

  .box {
    width: 100%;
    margin: 0 auto;
  }

  nav {
    position: fixed;
    width: 100%;
  }

  #slogan {
    margin-top: 8rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }

  h1 {
    font-size: 1.33rem;
  }

  #products {
      justify-content: center;
  }

  #products h2 {
    width: auto;
  }
}


/* MOBILE ----------- */
@media only screen and (max-width : 660px) {

  .mobile {
    display: inline;
    }

  .menu, #logo span {
    display: none;
    }

  header {
    background-size: cover;
    height: 17rem;
    padding-top: 0rem;
    }

  #slogan {
    margin-top: 12rem;
    margin-right: 0;
    width: 100%;
    padding: 1rem auto;
    }

  h1 {
    font-size: 1rem;
    text-align: center;
    }

  .section {
    padding-top: 3.77rem;
  }

  #services {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.77rem;
    height: 100%;
    }

  #exam {
    padding-top: 0;
  }

  .service img {
    padding-top: 1.54rem;
  }

  #products {
    flex-direction: column;
    margin-bottom: 0;
    }

  .product {
    max-width: 100%;
    margin: 0;
    }

  .product p {
    font-size: 0.77rem;
    padding-bottom: 4rem;
    }

  footer {
    justify-content: center;
    }

  footer span {
    display: none;
    }

}
