html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

.container {
  display: flex;
  justify-content: center;
}

#logo {
  align-items: center;
}

header {
  width: 960px;
  margin: 1rem auto;
  color: white;
  padding: 1rem 2rem;
  background-color: cadetblue;
  position: fixed;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  }

header span {
  margin-left: 1rem;
}

nav span {
  margin-left: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

.mobile {
  display: none;
  }


header img {
  height: 1.5rem;
}

span {

}

nav {

}

a {

}


.banner {

}

h1 {

}

h2 {

}

main {

}

section {

  }

#services {

}

.service {

  }

  p {

  }

#products {

}

#philosophy {

}

#appointment {

}

footer {

  }
